/* 

Color Palette

#558C89 Blueish Green
#74AFAD Light Blueish Green
#D9853B Light Orange
#ECECEA Light Grey

Fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

*/

header, footer {
    padding: 1em;
}

/* header height is temporary until content is added */
header {
    background-color: #74AFAD;
}

main {
    background-color: #ECECEA;
    padding: .5em;
}

footer {
    background-color: #74AFAD;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25em;
    font-style: bold;
    text-align: center;
    background-color: #558C89;
    color: #fff;
    padding: .25em 0;
    border-radius: 25px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    text-align: center;
    color: #558C89;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

#countdownClockView {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    clear: both;
    margin: 1em;
}

#formValidationErrors {
    color: #D9853B;
    background-color: #ECECEA;
    width: 50%;
    font-size: 1.75em;
}

button#useMyGeoLocation {
    background-color: #D9853B;
    width: 100%;
    margin-bottom: .75em;
}

/*---------------------------------*/
/*color pallete
#558C89
#74AFAD
#D9853B
#ECECEA*/

form {
    
    padding: 1em .5em;
    margin: 0 auto;
    background-color:#ECECEA;
    font-size: 2em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    overflow:hidden
}

input,
button,
select {
    background-color: #74AFAD;
    padding: .3em;
    font-size: .9em;
}

label {
    display: inline-block;
    float: left;
    clear:left;
    width: 100%;
    text-align: left;
    margin: .5em 0 .25em .4em;
    font-size: .7em;
}

.txtinput {
    display: block;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    width: 100%;
    color: #777;
    margin-bottom: .5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.txtinput:focus {
    color: #333;
    border-color: #D9853B;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
    outline: 0 none;
}

select {
    margin: 1em;
    float:left;
    clear: both;
}
button {
    background-color: #74AFAD;
    padding: .6em 0;    font-size: .6em;
    float: left;
    width: 15%;
}
#submit {
    background-color: #D9853B;
    font-size: .5em;
    padding: .8em;
    float:left;
    clear: both;
    width: 100%;

}

/* Media query for larger screen sizes */

@media screen and (min-width: 1023px) {
    main {
      width: 50%;
      margin: 0 auto;
    }
    h1 {
      font-size: ;
    }
    
    #countdownClockView{
        width: 40%;
        margin: auto;
    }
    
    form {
        width: 80%;
    }
    
    #submit {
        width: 38%;
    }
    
    button#useMyGeoLocation {
        width: 38%;
    }
    
    .txtinput {
        width: 46%;
    }
    
    label {
        width: 33%;
        margin-left: 2em;
    }
    
    txtinput {
        margin-left: 12em;
    }
    
}