/* 

Color Palette

#558C89 Blueish Green
#74AFAD Light Blueish Green
#D9853B Light Orange
#ECECEA Light Grey

Fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

*/

header, footer {
    padding: 1em;
}

header {
    background-color: #74AFAD;
    background-image: url(../images/bus.jpeg);
    background-size: cover;
    background-position: center;
    padding-bottom: 11em;
}

main {
    background-color: #ECECEA;
    padding: .5em;
}

footer {
    background-color: #74AFAD;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25em;
    font-style: bold;
    text-align: center;
    background-color: #558C89;
    color: #fff;
    padding: .25em 0;
    border-radius: 25px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #558C89;
    background-color: #ECECEA;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1em;
    text-align: center;
    line-height: 1.25em;
    font-size: 1.2em;
}

.timerContainer {
    background-color: #558C89;
    padding: 1em 0;
    border-radius: 15px;
}

.timer {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    clear: both;
    margin: 1em;
    background-color: #ECECEA;
    text-align: center;
}

.hours,
.minutes,
.seconds {
    font-size: 3em;
}

.errorMessage {
    color: #D9853B;
    background-color: #fff;
    width: 90%;
    font-size: 1.75em;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: .25em;
    font-family: 'Source Sans Pro', sans-serif;
}

/*---------------------------------*/

form { 
    padding: 1em .5em;
    margin: 0 auto;
    background-color:#ECECEA;
    font-size: 2em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    overflow:hidden
}

input,
select {
    background-color: #74AFAD;
    padding: .3em;
    font-size: .9em;
}

label {
    display: inline-block;
    float: left;
    clear:left;
    width: 100%;
    text-align: left;
    margin: .5em 0 .25em .4em;
    font-size: .7em;
}

.formrow {
    clear: both;
}

.txtinput {
    display: block;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    width: 100%;
    color: #777;
    margin-bottom: .5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.txtinput:focus {
    color: #333;
    border-color: #D9853B;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
    outline: 0 none;
}

select {
    margin: 1em 0;
}

button {
    background-color: #D9853B;
    padding: .6em 0;    
    font-size: .6em;
    width: 75%;
    margin: 0 auto .75em auto;
    display: block;
    border-radius: 25px;
}

#submit {
    background-color: #D9853B;
    font-size: .5em;
    padding: .8em;
    float:left;
    clear: both;
    width: 100%;
    border-radius: 25px;

}

/* Media query for smartphone in landscape */

@media screen and (min-width : 375px) {
    
    main {
       width: 85%;
       margin: 0 auto;
    }
    
    form {
        width: 100%;
    }
    
    header {
        padding-bottom: 10em;
    }
    
    .errorMessage {
        width: 90%;
    }

}


/* Media query for tablet screen sizes */

@media screen and (min-width: 768px) {
    main {
      width: 75%;
    }
    
    header {
        padding-bottom: 15em;
    }
    
    h1 {
      font-size: 3em;
    }
    
    h2 {
        font-size: 1.65em;
    }
    
    form {
        width: 100%;
    }
    
    .timer {
        width: 40%;
        margin: 0 auto;
    }
    
    select {
        margin-left: 39.5%;
    }
    
    #submit {
        width: 38%;
        margin-left: 37%;
    }
    
    button {
        width: 30%;
        margin-bottom: 1.5em;
        margin-left: 38.75%;
    }
    
    .txtinput {
        width: 46%;
    }
    
    label {
        width: 33%;
        margin-left: 2em;
    }
    
    txtinput {
        margin-left: 12em;
    }
    
    .errorMessage {
        width: 50%;
    }
    
}

/* Media query for screen sizes larger than 1440px */

@media screen and (min-width: 1325px) {
    main {
        width: 50%;
    }
    
     header {
        padding-bottom: 19em;
    }

    h2 {
        font-size: 2em;
    }
    
    form {
        width: 80%;
    }

}